/* Main- Page */

.main-content {
  display: flex;
  position: relative;
  top: 200px;
  justify-content: center;
}

.profile-pic {
  float: right;
  border-radius: 90px;
  position: absolute;
  bottom: -70px;
  border-style: solid;
  border-color: rgb(109, 109, 219);
}

.intro > p {
  display: inline-block;
  width: 600px;
  font-size: 20px;
  font-family: Pacifico, Arial;
  font-weight: bold;
  margin-right: 20px;
}

